@keyframes floating {
  0%, 100% {
    transform: translateY(-20px) rotate(10deg);
  }
  /* 25% {
    transform: translateY(-20px) ;
  } */
  50% {
    transform: translateY(20px) rotate(-10deg);
  }
  /* 75% {
    transform: translateY(20px);
  } */
}

.ghost-animation {
  animation: floating 4s ease-in-out infinite;
}

body{
  margin:0;
  overflow-x: hidden;
}

.links {
  /* text-decoration: underline; */
  color: white;
  /* display: block; */
  font-size: 24px;
  font-family: "Poppins";
  text-decoration: none;
  margin: 30px;
}

.links:hover {
  text-decoration: underline;
  /* text-decoration-color: #F2BF72; ; */
}

@keyframes flipAnimation {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  50% {
    transform: perspective(400px) rotateY(180deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}

.face {
  /* display: inline-block; */
  animation: flipAnimation 3s ease-in-out infinite;
}